.img{
    padding: 0;
    margin: 0;
    height: 70vh;
    width: 100vw;
    position: relative;
}

.text{
    position: absolute;
    width: 100vw;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-self: center;
    top:10vh;
    font-size:x-large;
}

@media only  screen and (max-width:786px)  {
    .text{
        font-size: medium;
    }
}

.text h1{
    align-self: center;
}
.text h2{
    align-self: center;
}

.card_list{
    position: absolute;
    padding: 5vw;
    bottom: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 5;
}
@media only screen and (max-width:1200px) {
    .card_list{
        position: relative;
        margin-top: -40vh;
     flex-wrap: wrap;
    }   
 }
@media only screen and (max-width:500px) {
   .card_list{
    position: relative;
    flex-direction: column;
    
   }   
}