 .navbar{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    min-height: 8vh;
    position: relative;
    box-shadow: 2px 2px 20px blueviolet;
    z-index: 99999;
 }

 .navbar h1{
    color: #ffffff;
    text-shadow: 2px 2px 5px #840eeb;
    cursor: pointer;
    align-self: center;
    font-weight: bolder;
    font-size:x-large;
 }

 .nav_list{
    display: flex;
    list-style: none;
    gap: 2vw;
    align-items: center;
    transition: all 2s ease-in-out;
 }

 .nav_list a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 7px #190332;
    
 }

 .nav_list a:hover{
    color: #000;
    text-shadow: 2px 2px 7px #fff;
 }
 
 
 .nav_btn{
    align-self: center;
    padding: 10px;
    height: 2rem;
     visibility: hidden;
     opacity: 0;
     transition: all 0.5s ease-in-out;
    }
    
    @media only screen and (max-width: 1024px){
        .nav_list{
            display: flex;
            flex-direction: column;
            
        }
        .nav_btn {
            visibility: visible;
            opacity: 1;
            
        }
        .responsive_nav{
           display: none;
           
        }
       
        .responsive_btn{
           display: none;
           
        }
 }  